#Homepage_greeting {
  text-align: left;
  font-weight: normal;
  font-size: 25px;
  margin-left: 30px;
  margin-top: 25px;
}

#Question {
  text-align: center;
  font-weight: normal;
}

.btn-custom {
  height: 60px;
  width: 350px;
  border-radius: 30px;
  background-color: #ff9800;
  color: black;
  font-weight: normal;
  font-size: 20px;
  border: none;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

#manageSubs {
  bottom: 120px;
}

#seeStocks {
  bottom: 50px;
}

.btn-custom:hover {
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
